---
title: Foster The Puppies
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">De mano a pata 🐾</h2>
		<p><img src="/images/husky.png" align="right" width="500">Brindamos servicios profesionales para tu cachorro</p>
		<p class="subtext editable">Experiencias personalizadas en paseo canino y Pet sitting.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/planes/">Agenda un Paseo</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Sus patitas quedan en las mejores manos.</h3>
			<p class="editable">Ofrecemos servicios profesionales para que tu compañero perruno se encuentre sano y feliz.</p>
			<p class="editable"><a href="{{ site.baseurl }}/planes/">Encuentra el paseo ideal &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/Huellita.png" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/Causa.png" width="300"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Paseos con causa 🤚🐾</h3>
			<p class="editable">En Foster The Puppies somos Dog Lovers como tú. Es por ello que con nuestro programa “Paseos con Causa” destinamos un porcentaje de cada paseo en donaciones para asociaciones de protección canina.</p>
		</div>
	</div>
</section>
